<div class="noSidebar" style="flex-direction: column;">
    <h1>About</h1>
    <p>This is Delivery Application to manage some orders.<br>
    <p>Here is some tips for you, how to use it:</p>
    <pre>   "Store" --- is the main page of this app, you can choose some "Shops" and make some orders in it, by clicking "Order" button at the dish you'd like to buy</pre>
    <pre>   "Shopping Cart" --- is the page you can see orders you've done. You may "Delete" them on your wish, but after every deleting please reload the page you've on.
                After you done with you're order list, you may fil your contact data and you can see a "Total Price" of your order. By cicking "Submit" you save your order in "Order Book"</pre>
    <pre>   "OrderBook" --- is the page where all orders are situated, i know that custommer should't see this page, but i've done this for illustration of work the database connection. 
                Also it's not commertial, only for self educated reason, so dont blame me for that. Thank you ;^]</pre>
    <pre>   "About" --- is the page you've on now, it's made to give some information for user, on how to use this application.</pre>
    <p>If there were some troubles in using it, please connect me on "pimonovkostya@gmail.com".</p>
    <p>Thank you for your pationtless, with best regards, Kostya.</p>
</div>