{{#if orders.length}}
<ul>
    {{#each orders}}
            <li>
                <div class="box">
                    <h2 id="name">{{name}}</h2>
                    <p  id="discription">{{discription}}</p>
                    <p  id="price">{{price}}
                        <label >$</label>
                    </p>
                    <button class="btn-small" id="btn-create" type="submit">Order</button>
                </div>
            </li>
    {{/each}}
</ul>

{{else}}
<p>No Menus?!</p>
{{/if}}
<script src="./functions/func.js"></script>