{{> head}}
<body>
    {{> navbar}}
    {{#if noSideBar}}
    {{else}}
    <div class="sidebar">
        {{> sidebar}}
    </div>
    {{/if}}
    <div class="page-content">
        {{{ body}}}
    </div>
</body>
</html>